.pageTitle {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3;
  color: #13b491;
  text-align: center;
}

.pageSubtitle {
  width: 240px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 5px solid #ffa32d;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffa32d;
}

.container {
  background-color: #51db7f;
  /* background: #2e2e; */
  /* background-image: url('../images/main_bg.jpg'); */
  background-position: top center;
  background-repeat: no-repeat;
}

.character {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.result {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.resultBox {
  min-height: 70px;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.result h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
}

.resultJobs {
  height: 200px;
  display: flex;
  gap: 10px;
}

.resultJob {
  flex: 1;
  border: 1px solid #ffe603;
  border-radius: 20px;
  background-color: #ffffff;
  /* background-image: url('../images/result_star.png'); */
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
}

.resultLecture img {
  width: 100%;
  margin-bottom: 40px;
}

.btn {
  max-width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.4;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.btnGreen {
  background-color: #32bfa1;
  box-shadow: 0 14px 0 #299a82;
  color: #ffffff;
}
.btnGreen:active {
  box-shadow: 0 4px 0 #299a82;
  transform: translateY(10px);
}
.btnGray {
  background-color: #f2f4f6;
  box-shadow: 0 14px 0 #dfe1e2;
  color: #444444;
}
.btnGray:active {
  box-shadow: 0 4px 0 #dfe1e2;
  transform: translateY(10px);
}
.btnSmall {
  max-width: 350px;
  height: 70px;
  margin-bottom: 30px;
  font-size: 26px;
}

@media (max-width: 640px) {
  .container {
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .pageTitle {
    font-size: 40px;
  }
  .btn {
    font-size: 34px;
  }
}
